# Dependencies
node_modules/

# Coverage
coverage/
performance-results/

# Build
build/
dist/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
